.about-section {
    width: 100vw;
    height: 50vh;
    background-color: #09747A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  .bg-primary {
    background-color: #09747A !important;
  }
  .logo-section {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-image {
    width: 80%;
    height: auto;
    object-fit: contain;
  }
  
  .whoarewe-section {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    z-index: 2;
  }
  .whoarewe-image {
    width: 60%; /* Default for large screens */
    min-width: 100px; /* Ensures visibility on small screens */
    max-width: 300px; /* Prevents it from growing too large */
    aspect-ratio: 1 / 1; /* Keeps it a perfect square */
    object-fit: fill; /* Ensures proper fitting */
  }
  
  /* Adjust width based on screen size */
  @media (max-width: 768px) { /* Tablets and smaller */
    .whoarewe-image {
      width: 50%;
    }
  }
  
  @media (max-width: 480px) { /* Mobile */
    .whoarewe-image {
      width: 25%;
    }
  }
  
  
  .whoarewe-section-paragraph p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    line-height: 130%;
    margin-top: 40%;
    text-align: left;
    font-weight: 500;
    padding: 0 20px;
  }
  .wieght-increase{
    font-weight: 700;
  }