.about-section {
    width: 95vw;
    height: 50vh;
    background-color: #09747A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  
  .logo-section {
    width: 60%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-image {
    width: 70%;
    height: auto;
    object-fit: contain;
  }
  .whoarewe-section{
    background-color: #09747A;
    max-width: 90%;
    color: white;
  }
  .whoarewe-image {
    width: 100%;
    min-width: 100px;
    aspect-ratio: 1 / 1;
    object-fit: fill;
  }
  
  /* Adjust width based on screen size */
  @media (max-width: 768px) { /* Tablets and smaller */
    .whoarewe-image {
      width: 50%;
    }
  }
  
  @media (max-width: 480px) { /* Mobile */
    .whoarewe-image {
      width: 25%;
    }
  }
  
  
  .whoarewe-section-paragraph {
    font-size: .9 rem;
    color: black;
  }

  .fw-bold {
    font-weight: bold;
  }

  .wieght-increase{
    font-weight: 700;
  }