    .chat-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    justify-content: center;

    }

    .message-box {
    padding: 5px;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    position: relative;
    margin: 1px;
    }

    /* Left-aligned message */
    .message-box.left {
    background-color: #09747a;
    align-self: flex-start;
    left: 10%;
    }

    .message-box.left::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 0px;
    width: 30px;
    height: 65px;
    background-color: #09747a;
    border-radius: 10px;
    }

    /* Right-aligned message */
    .message-box.right {
    background-color: #0a527a;
    align-self: flex-end;
    top: 0%;
    right: 7%;
    }

    .message-box.right::after {
    content: "";
    position: absolute;
    top: -50px;
    right: 0px;
    width: 30px;
    height: 65px;
    background-color: #0a527a;
    border-radius: 10px;
    }

    @media (max-width: 480px) {
    /* Mobile */
    .message-box.left {
        left: 10px;
    }
    }
