.App{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif !important; /* Override Bootstrap */
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

#root{
    height: 100vh;
    padding: 0;
    margin: 0;
}
html,body{
    padding: 0;
    margin: 0;

}